@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #88aaee;
  --main50: #88aaeeb3;

  --bg: #dfe5f2;
  --border: #000;

  --dark-bg: #272933;
  --dark-border: #000;

  --border-radius: 5px;
  --horizontal-box-shadow: 4px;
  --vertical-box-shadow: 4px;
  --heading-font-weight: 700;
  --base-font-weight: 500;
}

body,
.scrollbar {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  --sb-size: 16px;
}

html.dark body,
html.dark .scrollbar {
  --sb-track-color: #212121;
  --sb-thumb-color: #e6e6e6;
}

body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

.code::-webkit-scrollbar-track {
  background: transparent;
}

.code::-webkit-scrollbar-thumb {
  background: white;
}

.code::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: 0 !important;
}

.code::-webkit-scrollbar-corner {
  background: transparent !important;
  border: 0 !important;
}

.command-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.command-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.command-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  .command-scrollbar {
    scrollbar-color: #000 transparent;
  }
}
