@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.scrollbar,
body {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}

/* Other browsers */
.scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 16px;
}

.scrollbar::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #ffffff;
}

.scrollbar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.code {
  scrollbar-width: 10px !important;
  scrollbar-color: #151515 #ffffff80 !important;
}

.code::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

.code::-webkit-scrollbar-track {
  background: #151515 !important;
}

.code::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.code::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.code::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.code::-webkit-scrollbar-corner {
  background-color: #151515;
}
