@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body, .scrollbar {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  --sb-size: 16px;
}

body::-webkit-scrollbar, .scrollbar::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track, .scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);  
}

@supports not selector(::-webkit-scrollbar) {
  body, .scrollbar {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.code::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.code::-webkit-scrollbar-track {
  background: transparent;
}

.code::-webkit-scrollbar-thumb {
  background: #808080;  
}

.code::-webkit-scrollbar-corner{
  background: transparent;
}