@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #88aaee;
  --main-accent: #4d80e6;

  --bg: #dfe5f2;
  --border: #000;

  --dark-bg: #272933;
  --dark-border: #000;

  --border-radius: 5px;
  --horizontal-box-shadow: 4px;
  --vertical-box-shadow: 4px;
  --heading-font-weight: 700;
  --base-font-weight: 500;
}

body,
.scrollbar {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  --sb-size: 16px;
}

body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

.code::-webkit-scrollbar-track {
  background: transparent;
}

.code::-webkit-scrollbar-thumb {
  background: white;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
