@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #dfe5f2;
  --main: #88aaee;
  --main-accent: #4d80e6;
  --border-radius: 5px;
  --horizontal-box-shadow: 4px;
  --vertical-box-shadow: 4px;
  --heading-font-weight: 700;
  --base-font-weight: 500;
}

body,
.scrollbar {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
  --sb-size: 16px;
}

body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track,
.code::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb,
.code::-webkit-scrollbar-thumb,
figure[data-rehype-pretty-code-figure] pre::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

figure[data-rehype-pretty-code-figure] pre::-webkit-scrollbar,
.code::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

figure[data-rehype-pretty-code-figure] pre::-webkit-scrollbar-track,
.code::-webkit-scrollbar-track {
  background: transparent;
}

figure[data-rehype-pretty-code-figure] pre::-webkit-scrollbar-corner,
.code::-webkit-scrollbar-corner {
  background: transparent;
}
